/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #100f0f;
  }
 #div{
    background-color: #fff;
    width: 40%;
    padding: 20px 5px;
    border-radius: 10px;
    margin: 0 auto;
 } 
  #board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    border: none;
    margin: 20px auto;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: #BAC4C8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.8em;
    font-weight: 600;
    cursor: pointer;
  }
  .cell:hover{
    background-color: #9EA8AC ;
  }
  .cell.x {
    color: #ff4d4d; /* Red color for X */
  }
  
  /* Color for O */
  .cell.o {
    color: #4d79ff; /* Blue color for O */
  }
  
  #status {
    margin: 20px;
    font-size: 1.2em;
  }
  
  #win-message {
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
    color: green;
    display: none; /* Hidden by default */
  }
  
  #reset {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
  }